.settings-name {
    font-size: 36px;
    font-weight: 500;
    line-height: 43px;
}
.settings-subtitle {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}
.settings-item-text {
    font-size: 12px;
    line-height: 14px;
}